<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nguyenduy.projectbase">

    <!--firebase: network & WAKE_LOCK-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--network-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--location-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!--get last known location-->

    <!--Detect when users start or end an activity-->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!--broadcast system-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!--notification-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screen.SplashActivity"
            android:theme="@style/AppTheme.FullStatusBar.Launcher">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".screen.start.crash.CrashActivity"
            android:theme="@style/AppTheme.FullStatusBar" />
        <activity
            android:name=".screen.main.MainActivity"
            android:theme="@style/AppTheme.FullStatusBar" />
        <activity
            android:name=".screen.start.StartActivity"
            android:theme="@style/AppTheme.FullStatusBar" />
        <activity
            android:name=".screen.main2.MainActivity"
            android:theme="@style/AppTheme.FullStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--register change network-->
            <!--<intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".screen.main2.toolbar.CollapsingToolbarActivity"
            android:theme="@style/AppTheme.FullStatusBar" />
        <activity
            android:name=".screen.main2.toolbar.CollapsingToolbarCustomBehaviorActivity"
            android:theme="@style/AppTheme.FullStatusBar" />
        <activity
            android:name=".screen.main2.appbar.appbarBottom.AppbarBottomActivity"
            android:theme="@style/AppTheme.FullStatusBar" />
        <!--notification-->
        <activity
            android:name=".base.notification.startActivity.RegularActivity"
            android:parentActivityName=".screen.main2.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower
            https://developer.android.com/training/implementing-navigation/ancestral#SpecifyParent-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.main2.MainActivity" />
        </activity>
        <activity
            android:name=".base.notification.startActivity.SpecialActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <!--sharedPreference-->
        <activity
            android:name=".screen.main2.sharedpreference.settingActivity.SettingsActivity"
            android:exported="false"
            android:theme="@style/SharedPreferenceTheme"
            android:parentActivityName=".screen.main2.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower
            https://developer.android.com/training/implementing-navigation/ancestral#SpecifyParent-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.main2.MainActivity" />
            <!--https://developer.android.com/guide/topics/ui/settings#NetworkUsage-->
            <!--có thêm mục View App Settings trong App Infor của mục Settings-->
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.main2.sharedpreference.settingActivity.header.SettingHeaderActivity"
            android:exported="false"
            android:theme="@style/SharedPreferenceTheme"
            android:parentActivityName=".screen.main2.sharedpreference.settingActivity.SettingsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower
               https://developer.android.com/training/implementing-navigation/ancestral#SpecifyParent-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.main2.sharedpreference.settingActivity.SettingsActivity" />
            <!--https://developer.android.com/guide/topics/ui/settings#NetworkUsage-->
            <!--có thêm mục View App Settings trong App Infor của mục Settings-->
            <intent-filter>
                <action android:name="ActionCustom" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--data binding-->
        <activity android:name=".screen.main2.architectureComponents.dataBinding.activity.DataBindingActivity" />

        <!-- Firebase Cloud Message -->
        <service android:name=".base.firebase.FCM.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--location convert longitude, latitude -> address name -->
        <service
            android:name=".base.location.convertLocation.FetchAddressIntentService"
            android:exported="false" />
        <!--location geofence-->
        <service android:name=".base.location.geofencing.GeofenceTransitionsIntentService" />
        <!--Detect when users start or end an activity-->
        <service android:name=".base.location.detectActivityUser.DetectedActivitiesIntentService" />

        <!-- Disable Firebase Crashlytics auto initialization generates an Instance ID, -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <!-- enable debug performance -->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <!-- tắt hoàn toàn performance, phải remove firebase_performance_logcat_enabled thì firebase_performance_collection_deactivated mới có tác dụng -->
        <!--
            <meta-data
            android:name="firebase_performance_collection_deactivated"
            android:value="true" />
        -->
        <!-- Disable Firebase Clound Message auto initialization generates an Instance ID, -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <!--
            android sẽ custom cho các message
                được gửi từ Notifications composer
                và các message không đặt icon notification
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_background" />
        <!--
            android sẽ custom cho các message
                được gửi từ Notifications composer
                và các message không đặt color notification
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- for android 8.0(API level 26) or high -->
        <!-- https://developer.android.com/guide/topics/ui/notifiers/notifications#ManageChannels -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />


        <!--broadcast system-->
        <receiver
            android:name=".base.broadcast.system.BootReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <!--broadcast custom-->
        <receiver android:name=".base.notification.NotificationReceiver" />
        <receiver android:name=".base.notification.action.ReplyActionReceiver" />

        <!--service-->
        <!--Xem thêm các attribute khai báo service
        https://developer.android.com/guide/topics/manifest/service-element-->
        <service
            android:name=".base.backgroundTask.service.StartedService"
            android:exported="false" />
        <service
            android:name=".base.backgroundTask.service.BindService"
            android:exported="false" />
        <service
            android:name=".base.backgroundTask.service.TestIntentService"
            android:exported="false" />

    </application>

</manifest>